:root {
    --azul-metalico-oscuro: #1f3a5f;
    --azul-metalico-medio: #2c5282;
    --azul-metalico-claro: #4a6fa5;
    --gris-borde: #d1d9e6;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;

    background: 
        linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),
        url("../../imagenes/fondo-sesion.jpg") no-repeat center center fixed;

    background-size: cover;
}

/* CONTENEDOR */
.contenedor-login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* TARJETA */
.card-login {
    width: 100%;
    max-width: 450px;
    padding: 55px;
    border-radius: 12px;

    /* Azul transparente elegante */
    background: rgba(255, 255, 255, 0.06);

    border: 1px solid rgba(255, 255, 255, 0.20);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
}

/* TITULO */
.titulo-login {
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
}

/* INPUTS */
.input-auto {
    background-color: #141414;
    border: 1px solid var(--azul-metalico-oscuro);
    height: 45px;
}

/* TEXTO SIEMPRE BLANCO */
.input-auto,
.input-auto:focus,
.input-auto:active {
    color: #ffffff !important;
}

.input-auto::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* EFECTO GLOW AZUL AL ENFOCAR */
.input-auto:focus {
    border-color: #000a90;
    box-shadow:
        0 0 8px 2px #00bfff,
        0 0 16px 4px rgba(0, 191, 255, 0.5);
    background-color: #141414;
    outline: none;
    transition: all 0.3s ease;
}

/* AUTOFILL CHROME FIX */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}

/* BOTÓN PRINCIPAL */
.btn-auto {
    background: linear-gradient(45deg, #003561, #00a4ba);
    border: none;
    color: white;
    font-weight: 600;
    height: 45px;
    transition: all 0.3s ease;
}

.btn-auto:hover {
    background: linear-gradient(45deg, #002b4d, #008ea3);
}

.btn-auto:focus {
    border-color: #000a90;
    box-shadow:
        0 0 8px 2px #00bfff,
        0 0 16px 4px rgba(0, 191, 255, 0.5);
    color: white;
    outline: none;
}

/* LINK CREAR CUENTA */
.link-crear {
    display: block;
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.link-crear:hover {
    text-decoration: underline;
    color: blue;
}