:root {
    --azul-neon: #ffffff;
    --azul-suave: rgba(0, 224, 255, 0.4);
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;

    background: 
        linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.25)),
        url("../../imagenes/fondo.jpg") no-repeat center center fixed;

    background-size: cover;
}

/* PANEL FORMULARIO */
.panel-formulario {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding-left: 120px;
    position: relative; 
}

.titulo-formulario {
    color: #ffffff;
    font-size: 60px;           
    font-weight: 800;
    text-align: center;
    white-space: nowrap;   
    letter-spacing: 1px;         
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 15);
    margin-bottom: 25px;
}

/* CONTENEDOR FORM */
.card-neon {
    width: 100%;
    max-width: 380px;
}

/* TITULO */
.titulo-neon {
    color: var(--azul-neon);
    font-weight: 700;
}

/* INPUTS MÁS CORTOS */
.input-neon {
    background-color: #1e1e1e;
    border: 1px solid #2c2c2c;
    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 10);
    height: 42px;
}

.input-neon::placeholder {
    color: rgba(255,255,255,0.7);
}

.input-neon:focus {
    border-color: #000a90;
    box-shadow: 0 0 8px 2px #00bfff, 0 0 16px 4px rgba(0, 191, 255, 0.5);
    background-color: #1c1c1c;
    color: white;
    outline: none;
}

/* BOTÓN */
.boton-neon {
    background: linear-gradient(45deg, #003561, #00a4ba);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 5);
}

.btn-outline-light {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 5);
}

.btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 5);
}

.link-iniciar {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.link-iniciar:hover {
    text-decoration: underline;
    color: blue;
}